/**
 * author            : Debanjan Mukherjee
 * last modified   : 11-20-2021 Debanjan Mukherjee
 * Modifications Log 
 * Ver   Date         Author       Modification
 * 1.0   11-20-2021   Debanjan Mukherjee   Initial Version
**/
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  color:Orange;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  /* width: 120px;*/
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.c-container {
  border: 1px solid #d8dde6;
  margin: 10px 0 20px 0;
}

.custom-box {
  text-align: center;
  background-color: #f4f6f9;
  padding: 1rem;
  border: 1px solid #d8dde6;
}
img {
width: 80px;
height: 80px;
border-radius: 50%;
margin-bottom: 8px;
}
.dataTables_filter{
  display:"none";
}

.spinnerHolder{
  position: relative;
  display: inline-block;
  margin-left: 15px;
  width: 55px;
  height:100%;
  vertical-align: middle;
  white-space: nowrap;
}
.Added{
  color:MediumSeaGreen;
}
.Modified{
  color:Orange;
}
.Deleted{
  color:Violet;
}